<!doctype html>
<html>
<html lang="en, lo"
<head>
    <title>Lotus Citizenship Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <div>
    <h1>Lotus 𖥸 Citizenship</h1>
    <nav class="mainNav">
      <a href="/profile">Home</a>
      <a href="/about">About</a>
      <a href="/account">My Account</a>
      <a href="/logout">Logout</a> <!--class="btn btn-default btn-sm"-->
    </nav>
  </div>
</header>

<div class="container flashcard">

<!-- Start of flashcard nav-->
  <section id="s1" class="flashcardsHeader">
    <nav class="flashcardNav">
      <a href="#s1">American Government</a>
      <a href="#s2">American History</a>
      <a href="#s3">Integrated Civics</a>
    </nav>
  </section>
<!-- End of flash card nav-->

<!-- Start of flashcard section-->
  <section id="s1" class="flashcardsArea">
    <h3>American Government</h3>
    <p>Paragraph about section. Get req from db to include data</p>
    <div class="flashCardContainer">
      <div class="cardHolder">
        <% messages.map((message, index) => { %>
          <!-- <div><p class="messages"><span><%= message.number %></span></p></div> -->
          <div class="card" data-object-id="<%= message._id %>"><div class="front"><p class="messages"><span><%= message.question %></span></p><button class="translate">Translate</button></div><div class="back">
          <p class="messages"><span><%= message.answer %></span></p></div></div>
          <% }) %>
      </div>
    </div>
    <div class="flashCardButtons">
      <button class="prevBtn" type="button">Previous Card</button>
      <button class="shuffleBtn" type="button">Shuffle</button>
      <button class="switchBtn" type="button">Switch</button>
      <button class="nextBtn" type="button">Next Card</button>
    </div>
  </section>
</div>
<!-- End of flashcard section-->

<!-- <section id="s2" class="flashcardsArea">
  <h3>American History</h3>
  <p>Paragraph about section. Get req from db to include data</p>
</section> -->

<script src="main.js"></script>

</body>
</html>

<!-- https://codepen.io/butlerfuqua/pen/GYzWVv -->
<!-- <div class="flashCardContainer">
    <div class="cardHolder">
        <div class="card"><div class="front"><p class="messages"><span><%= messages[0].question %></span></p></div><div class="back"><p class="messages"><span><%= messages[0].answer %></span></p></div></div>
        <div class="card"><div class="front"><p class="messages"><span><%= messages[1].question %></span></p></div><div class="back"><p class="messages"><span><%= messages[1].answer %></span></p></div></div>
        <div class="card"><div class="front"><p class="messages"><span><%= messages[2].question %></span></p></div><div class="back"><p class="messages"><span><%= messages[2].answer %></span></p></div></div>
    </div>
</div> -->
<!-- Shorthand to do loop through flashcards --> 